<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../../dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 数据监听 -->
    <div>{{ obj.a }}</div>
    <span v-if="count !== 3">{{ message1 }}</span>
    <span v-else>点击次数已达上限</span>
    <button @click="change" v-if="count !== 3">修改</button>
    <button @click="count=0;message='共点击了0次'" v-else>重置</button>
    <child @change="change"></child>
  </div>
</body>
<script src="./index.js"></script>
</html>